[Unit]
Description=OpenCHAMI kea
After=kea-init.service
Requires=kea-init.service

[Container]
Image=docker.io/jonasal/kea-dhcp4:3.1.4
Network=host
EnvironmentFile=/etc/openchami/openchami.env
Volume=/etc/openchami/configs/kea-dhcp4.conf:/etc/kea/kea-dhcp4.conf:ro
Exec=-c /etc/kea/kea-dhcp4.conf -X
AddCapability=NET_RAW
AddCapability=NET_ADMIN
HealthCmd=bash -ec ': >/dev/tcp/127.0.0.1/8000'
HealthInterval=5s
HealthTimeout=5s
HealthRetries=30
Notify=healthy

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=openchami.target
