[Unit]
Description=OpenCHAMI bss
After=smd.service bss-init.service
Requires=smd.service bss-init.service

[Container]
Image=localhost/bss:v1.32.2
Network=host
Environment=BSS_ADVERTISE_ADDRESS=192.168.100.1
Environment=BSS_CHAIN_PROTO=http
Environment=BSS_DBHOST=localhost
Environment=BSS_DBNAME=bssdb
Environment=BSS_DBOPTS=sslmode=disable
Environment=BSS_DBPORT=15432
Environment=BSS_DBUSER=bss-user
Environment=BSS_DEBUG=true
Environment=BSS_ENDPOINT=localhost
Environment=BSS_INSECURE=true
Environment=BSS_IPXE_SERVER=192.168.100.1
Environment=BSS_JWKS_URL=
Environment=HSM_URL=https://localhost:27779
Environment=NFD_URL=http://192.168.100.1:80/hmi/v1/subscribe
Environment=BSS_DBPASS=${BSS_DBPASS}
EnvironmentFile=/etc/openchami/openchami.env
HealthCmd=curl -sf http://localhost:27778/boot/v1/bootparameters
HealthInterval=5s
HealthTimeout=5s
HealthRetries=30
Notify=healthy

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=openchami.target
