[Unit]
Description=OpenCHAMI Cloud-Init Server
After=smd.service http-server.service
Requires=smd.service http-server.service

[Container]
Image=ghcr.io/openchami/cloud-init:v1.2.3
Network=host
Exec=sh -c "until curl -sf http://localhost:${HTTP_PORT}/hsm/v2/service/ready; do sleep 1; done; /usr/local/bin/cloud-init-server --listen 0.0.0.0:27777 --smd-url http://localhost:${HTTP_PORT} --cluster-name ochami --insecure"

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=openchami.target
