[Unit]
Description=OpenCHAMI Kea Control Agent
After=kea.service
Requires=kea.service

[Container]
Image=jonasal/kea-ctrl-agent:3.1.4
Network=host
Exec=-c /etc/kea/kea-ctrl-agent.conf
Volume=/etc/openchami/configs/kea-ctrl-agent.conf:/etc/kea/kea-ctrl-agent.conf:ro
Volume=kea-sockets:/kea/sockets

[Service]
Restart=on-failure
TimeoutStartSec=120

[Install]
WantedBy=openchami.target
