[Unit]
Description=OpenCHAMI kea-sync
After=smd.service kea-init.service kea.service http-server.service
Requires=smd.service kea-init.service kea.service http-server.service

[Container]
Image=localhost/kea-sync:main
Network=host
Environment=KEA_SYNC_KEA_SERVICES=dhcp4
Environment=KEA_SYNC_KEA_URL=http://localhost:8000
Environment=KEA_SYNC_LISTEN_ADDR=:28080
Environment=KEA_SYNC_LOG_LEVEL=info
Environment=KEA_SYNC_SMD_URL=http://localhost:80
Environment=KEA_SYNC_SYNC_INTERVAL=10s
EnvironmentFile=/etc/openchami/openchami.env
Exec=/bin/kea-sync
HealthCmd=curl -fsS http://localhost:28080/readiness
HealthInterval=5s
HealthTimeout=5s
HealthRetries=30
Notify=healthy

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=openchami.target
