[Unit]
Description=OpenCHAMI kea-init
After=postgres.service
Requires=postgres.service

[Container]
Image=localhost/kea:3.0.2
Network=host
EnvironmentFile=/etc/openchami/openchami.env
Exec=/bin/kea-admin db-init pgsql -h localhost -P 15432 -u kea-user -p $KEA_DB_PASSWORD -n kea

[Service]
Restart=no
TimeoutStartSec=120

[Install]
WantedBy=openchami.target
