[Unit]
Description=OpenCHAMI Kea SMD Sync Sidecar
After=smd.service http-server.service kea.service
Requires=smd.service http-server.service kea.service

[Container]
Image=localhost/kea-sidecar:latest
Network=host
Exec=python -u /app/smd_sync.py
Environment=SMD_URL=http://localhost:${HTTP_PORT}
Environment=DB_HOST=localhost
EnvironmentFile=/etc/openchami/openchami.env

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=openchami.target
