[Unit]
Description=OpenCHAMI Power Control Service Database Initialization
After=postgres.service
Requires=postgres.service

[Container]
Image=localhost/pcs:local-pcs
Network=host
Exec=power-control init-postgres
EnvironmentFile=/etc/openchami/openchami.env
Environment=POSTGRES_HOST=localhost
Environment=POSTGRES_PORT=${POSTGRES_PORT}
Environment=POSTGRES_USER=${PCS_DB_USER}
Environment=POSTGRES_PASSWORD=${PCS_DB_PASSWORD}
Environment=POSTGRES_DBNAME=${PCS_DB_NAME}
Environment=POSTGRES_INSECURE=true

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=120

[Install]
WantedBy=openchami.target
