[Unit]
Description=OpenCHAMI SMD Database Initialization
After=postgres.service
Requires=postgres.service

[Container]
Image=localhost/smd:local-smd
Network=host
Exec=/smd-init
Environment=SMD_DBHOST=localhost
EnvironmentFile=/etc/openchami/openchami.env

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=120

[Install]
WantedBy=openchami.target
