[Unit]
Description=OpenCHAMI Stork Agent (Kea Monitor)
After=kea.service kea-ctrl-agent.service
Requires=kea.service kea-ctrl-agent.service

[Container]
Image=localhost/stork-agent:latest
Network=host
AddCapability=SYS_PTRACE
EnvironmentFile=/etc/openchami/openchami.env
Volume=/etc/openchami/configs/kea-dhcp4.conf:/etc/kea/kea-dhcp4.conf:ro
Volume=/etc/openchami/configs/kea-ctrl-agent.conf:/etc/kea/kea-ctrl-agent.conf:ro
Volume=kea-sockets:/kea/sockets

[Service]
Restart=on-failure
TimeoutStartSec=120

[Install]
WantedBy=openchami.target
