[Unit]
Description=OpenCHAMI Stork Server (DHCP Monitor)
After=postgres.service
Requires=postgres.service

[Container]
Image=signalorange/stork:ubuntu24.04-1.19.0
Network=host
Exec=stork-server
EnvironmentFile=/etc/openchami/configs/stork-server.env

[Service]
Restart=on-failure
TimeoutStartSec=120

[Install]
WantedBy=openchami.target
