[Unit]
Description=OpenCHAMI TFTP Server

[Container]
Image=localhost/tftp:latest
Network=host

[Service]
Restart=on-failure
TimeoutStartSec=60

[Install]
WantedBy=openchami.target
