[Unit]
Description=OpenCHAMI tftp

[Container]
Image=localhost/tftp:latest
Network=host
EnvironmentFile=/etc/openchami/openchami.env

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=openchami.target
