{
  "Dhcp4": {
    "interfaces-config": {
      "interfaces": ["{{ pxe_interface }}"]
    },
    "control-socket": {
      "socket-type": "unix",
      "socket-name": "/kea/sockets/kea4-ctrl-socket"
    },
    "hooks-libraries": [
      {
        "library": "/usr/local/lib/kea/hooks/libdhcp_pgsql.so"
      }
    ],
    "lease-database": {
      "type": "postgresql",
      "name": "{{ kea_db_name }}",
      "user": "{{ kea_db_user }}",
      "password": "{{ kea_db_password }}",
      "host": "localhost",
      "port": {{ postgres_port }}
    },
    "hosts-database": {
      "type": "postgresql",
      "name": "{{ kea_db_name }}",
      "user": "{{ kea_db_user }}",
      "password": "{{ kea_db_password }}",
      "host": "localhost",
      "port": {{ postgres_port }}
    },
    "valid-lifetime": 300,
    "renew-timer": 150,
    "rebind-timer": 225,

    "client-classes": [
      {
        "name": "iPXE",
        "test": "substring(option[77].hex,0,4) == 'iPXE'",
        "boot-file-name": "http://{{ host_ip }}:{{ http_port }}/boot/v1/bootscript?mac=${mac}"
      },
      {
        "name": "BIOS",
        "test": "option[93].hex == 0x0000",
        "boot-file-name": "undionly.kpxe"
      },
      {
        "name": "UEFI-64",
        "test": "option[93].hex == 0x0007 or option[93].hex == 0x0009",
        "boot-file-name": "ipxe.efi"
      }
    ],

    "subnet4": [
      {
        "id": 1,
        "subnet": "{{ host_ip }}/{{ pxe_cidr }}",
        "pools": [
          {
            "pool": "{{ dhcp_start }} - {{ dhcp_end }}"
          }
        ],
        "option-data": [
          {
            "name": "routers",
            "data": "{{ host_ip }}"
          },
          {
            "name": "domain-name-servers",
            "data": "8.8.8.8"
          },
          {
            "name": "tftp-server-name",
            "data": "{{ host_ip }}"
          }
        ]
      }
    ]
  }
}
